*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:#082f49;
    color:white;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100vw;
}
header{
    background-color: #164e63;
    padding:1em;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 4em;
}
.sidebar-icon{
    display: flex;
    i{
        margin-right:.7em;
    }
}
.nav-icons i{
    margin-right:.7em;
}
.sidebar-icon,.functionality-icons,.nav-icons :hover{
    cursor: pointer;
}
.main-container{
    display: grid;
    margin:0 4em;
    grid-template-columns: repeat(auto-fit,minmax(800px,1fr));
    position:relative;
}
.cover-img img{
    height:14.5em;
    border-radius: .5em;
}
.book{
    background-color:#083344;
    height:15em;
    margin:.5em;
    display: flex;
    border-radius:1em;
}
.bookinfo{
    display:flex;
    flex-direction: column;
}
.title{
    font-size:2em;
}
.author{
    font-style: italic;
    font-size: 1.2em;
}
.right{
    padding:1.5em;
}
.functionality{
    display: flex;
    margin-top:3em;
    flex-direction: column;  
}
.functionality-icons{
    margin:.5em;
    i{
        margin-right:1em;
    }
}
.add-btn{
    position: fixed;
    right:0;
    top: 90vh;
}
.add-btn button{
    border-radius: 50%;
    height:3em;
    width: 3em;
    background-color: #2563eb;
    color:white;
    font-size: 1.2em;
    border:none;
}
.newBook:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition:ease-in-out;
    /*transform: rotate(45deg)*/
}
form{
   font-size: 1.2em;
   position: relative; 
   background-color:#bfdbfe;
   min-width:19em;
}
.form-header{
   background-color:cadetblue;
   padding:1em;
}
form fieldset{
    display: flex;
    flex-direction: column;
    margin:.3em auto;
}
.options-fieldset label input{
    margin-left:2em;
    transform: scale(1.8);
}
label{
    margin: .5em;
}
input{
    font-size: .6em;
    border-radius: .5em;
    padding:.6em;
    font-size: .7em;
}
.close{
    padding:1em;
    position:absolute;
    top:0;
    right:0;
    background-color: red;
    color:white;
    font-size:.7em;
}
#Submit{
    padding:1em;
    width:80%;
    font-size:.8em;
    margin:.5em;
    border-radius:1em;
    color:white;
    background-color:cadetblue;
}
/*Dialog animation*/
dialog{
    animation: fade-out 0.7s ease-out;
    margin:3.5em .6em;
    padding:.1em;
    border:none;
    
}
dialog[open]{
    animation: fade-in 0.7s ease-out;
}
/*Animation keyframes*/
@keyframes fade-in{
    0%{
        opacity:0;
        transform: scaleY(0);
        display: none;
    }
    100%{
        opacity:1;
        transform: scaleY(1);
        display: block;
    }
}
@keyframes fade-out{
    0%{
        opacity:1;
        transform: scaleY(1);
        display: block;
    }
    100%{
        opacity:0;
        transform:scaleY(0);
        display: none;;
    }
}
@media screen and (max-width:640px){
    form{
        font-size:1rem;  
        min-width:auto; 
    }
    input{
        margin:.4rem;
        padding:.5rem;
    }
    dialog{
        margin:4rem .2rem;
    }
    .navbar{
        width:90vw;
        margin:0;
    }
    .add-btn{
        position: fixed;
        right:0;
        top: 80vh;
    }  
    .main-container{
        margin:1rem;
        
        grid-template-columns: 1fr;
    }
    .cover-img img{
        height:7rem;
    }
    .book{
        font-size:.5rem;
        margin: .8rem;
        height:6rem;
    }
    .functionality{
        margin-top:.1rem;
    }
    .functionality-icons{
        margin:.1rem;
        i{
            margin-right:.4rem;
        }
    }
    input[type="range"]{
        width:6rem;
        margin:0;
    }
    
   
}
